<form >
  <div class="mb-3">
      <label for="nome" class="form-label">Nome do Departamento</label>
      <input type="text" class="form-control" [(ngModel)]="nome" name="nome">
  </div>
  <div class="mb-3">
      <label for="sigla" class="form-label">Sigla do Departamento</label>
      <input type="text" class="form-control" [(ngModel)]="sigla" name="sigla">
  </div>
  <button (click)="addDepartamento()" *ngIf="departamento.id==0" class="btn btn-primary">
      Adicionar
  </button>
  <button (click)="updateDepartamento()" *ngIf="departamento.id!=0" class="btn btn-primary">
      Atualizar
  </button>

</form>

