<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Nome colaborador</th>
        <th>Departamento para Sugestão</th>
        <th>Sugestão</th>
        <th>Justificativa</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of sugestaoList$|async">
            <td>{{item.id}}</td>
            <td>{{item.nomeColaborador}}</td>
            <td>{{item.departamentoId}}</td>
            <td>{{item.comentario}}</td>
            <td>{{item.justificativa}}</td>
            
        </tr>
    </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Mostrar Departamentos
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Departamentos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p *ngFor="let departamento of departamentoList$|async">{{departamento.id}} - {{departamento.sigra}} - {{departamento.nome}}</p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
