<!-- Button trigger Mostrar departamentos modal -->
<button type="button" class="btn btn-secondary float float-end m-2" data-bs-toggle="modal" data-bs-target="#DepartamentoModal">
    Mostrar Departamentos
</button>
<!-- Button trigger Add modal -->
<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#NovaSugestaoModal"
(click)="modalAdd()">
    Nova sugestão
</button>


<div class="alert alert-success" role="alert" id="add-success-alert">
  Sugestão adicionada com sucesso!
</div>
<div class="alert alert-success" role="alert" id="update-success-alert">
  Sugestão atualizada com sucesso!
</div>
<div class="alert alert-success" role="alert" id="delete-success-alert">
  Sugestão removida com sucesso!
</div>

<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Nome colaborador</th>
        <th>Departamento para Sugestão</th>
        <th>Sugestão</th>
        <th>Justificativa</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of sugestaoList$|async">
            <td>{{item.id}}</td>
            <td>{{item.nomeColaborador}}</td>
            <td>{{departamentosMap.get(item.departamentoId)}}</td>
            <!--<td>{{item.departamentoId}}</td> -->
            <td>{{item.comentario}}</td>
            <td>{{item.justificativa}}</td>
            
        </tr>
    </tbody>
</table>

  
  <!-- Mostrar Departamentos Modal -->
  <div class="modal fade" id="DepartamentoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Departamentos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
            <p *ngFor="let departamento of departamentoList$|async">{{departamento.id}} - {{departamento.sigra}} - {{departamento.nome}}</p>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Add  or edit Modal sugestao -->
  <div class="modal fade" id="NovaSugestaoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modalClose()" id="add-edit-modal-close">

          </button>
        </div>
        <div class="modal-body">
          <app-add-edit-sugestoes [sugestao] ="sugestao" *ngIf="activateAddEditSugestoesComponent"></app-add-edit-sugestoes>
        </div>
      </div>
    </div>
  </div>